[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/gundo.vim"]
	path = home/.vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/nerdcommenter"]
	path = home/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-yankring"]
	path = home/.vim/bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "home/.vim/bundle/vim-flake8"]
	path = home/.vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "home/.vim/bundle/command-t"]
	path = home/.vim/bundle/command-t
	url = git://github.com/wincent/Command-T
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/taglist.vim"]
	path = home/.vim/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "home/.vim/bundle/vim-slim"]
	path = home/.vim/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
